<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
    <body>
      {% if "user" in session %}
        <p>Current User: {{ session["user"] }}</p>
      {% endif %}
      <a href="/logout"><p>Logout</p></a>
      {% if get_flashed_messages() %}
        <ul>
          {% for msg in get_flashed_messages() %}
            <li class="alert alert-warning">{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <h1>Reading List</h1>
      {% block content %}
      {% endblock %}
    </body>
</html>