{% extends "base.html" %}
<!-- TODO: Create "snooze button to send book to end of list (later version?) -->
{% block content %}
<h2>Current Reading List</h2>

  {% if list %}
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Title</td>
          <td>Author</td>
          <td>Category</td>
        </tr>
      </thead>
      <tbody>
        {% for book in list %}
          <tr class={{ book[2] }}>
            <td>{{ book[0].title }}</td>
            <td>{{ book[0].author }}</td>
            <td>{{ book[1].name }}</td>
            <td>
              <a href="/snooze?id={{ book[0].id }}"><button type="button" class="btn btn-light snooze">Snooze</button></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <p>There are no books in your reading list!</p>
  {% endif %}

    <a href="/edit-list" class="btn-primary btn-lg" role="button">Edit List</a>

    <a href="/reading-history" class="btn-secondary btn-lg" role="button">Reading History</a>
<!--
    <button type="button">Browse Reading Lists</button>
    <button type="button">Settings</button>
-->
{% endblock %}
